WindowsFormsApp1/WindowsFormsApp1/Web References/Myserver/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1624/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1624/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1624/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sprint1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Add_Repairer_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_Repairer" />
  </wsdl:message>
  <wsdl:message name="IService1_Add_Repairer_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_RepairerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_is_login_InputMessage">
    <wsdl:part name="parameters" element="tns:is_login" />
  </wsdl:message>
  <wsdl:message name="IService1_is_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:is_loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Add_Clients_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_Clients" />
  </wsdl:message>
  <wsdl:message name="IService1_Add_Clients_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_ClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Repairer_NotBuzy_InputMessage">
    <wsdl:part name="parameters" element="tns:Repairer_NotBuzy" />
  </wsdl:message>
  <wsdl:message name="IService1_Repairer_NotBuzy_OutputMessage">
    <wsdl:part name="parameters" element="tns:Repairer_NotBuzyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Assign_client_InputMessage">
    <wsdl:part name="parameters" element="tns:Assign_client" />
  </wsdl:message>
  <wsdl:message name="IService1_Assign_client_OutputMessage">
    <wsdl:part name="parameters" element="tns:Assign_clientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Appoint_client_InputMessage">
    <wsdl:part name="parameters" element="tns:Appoint_client" />
  </wsdl:message>
  <wsdl:message name="IService1_Appoint_client_OutputMessage">
    <wsdl:part name="parameters" element="tns:Appoint_clientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_repairers_list_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_repairers_list" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_repairers_list_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_repairers_listResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_client_list_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_client_list" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_client_list_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_client_listResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_admin_InputMessage">
    <wsdl:part name="parameters" element="tns:get_admin" />
  </wsdl:message>
  <wsdl:message name="IService1_get_admin_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_adminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Add_Repairer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Add_Repairer" message="tns:IService1_Add_Repairer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Add_RepairerResponse" message="tns:IService1_Add_Repairer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="is_login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/is_login" message="tns:IService1_is_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/is_loginResponse" message="tns:IService1_is_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_Clients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Add_Clients" message="tns:IService1_Add_Clients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Add_ClientsResponse" message="tns:IService1_Add_Clients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Repairer_NotBuzy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Repairer_NotBuzy" message="tns:IService1_Repairer_NotBuzy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Repairer_NotBuzyResponse" message="tns:IService1_Repairer_NotBuzy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Assign_client">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Assign_client" message="tns:IService1_Assign_client_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Assign_clientResponse" message="tns:IService1_Assign_client_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Appoint_client">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Appoint_client" message="tns:IService1_Appoint_client_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Appoint_clientResponse" message="tns:IService1_Appoint_client_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_repairers_list">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_repairers_list" message="tns:IService1_Get_repairers_list_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_repairers_listResponse" message="tns:IService1_Get_repairers_list_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_client_list">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_client_list" message="tns:IService1_Get_client_list_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_client_listResponse" message="tns:IService1_Get_client_list_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_admin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_admin" message="tns:IService1_get_admin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_adminResponse" message="tns:IService1_get_admin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add_Repairer">
      <soap:operation soapAction="http://tempuri.org/IService1/Add_Repairer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="is_login">
      <soap:operation soapAction="http://tempuri.org/IService1/is_login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_Clients">
      <soap:operation soapAction="http://tempuri.org/IService1/Add_Clients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Repairer_NotBuzy">
      <soap:operation soapAction="http://tempuri.org/IService1/Repairer_NotBuzy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Assign_client">
      <soap:operation soapAction="http://tempuri.org/IService1/Assign_client" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Appoint_client">
      <soap:operation soapAction="http://tempuri.org/IService1/Appoint_client" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_repairers_list">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_repairers_list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_client_list">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_client_list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_admin">
      <soap:operation soapAction="http://tempuri.org/IService1/get_admin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:1624/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>